@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>Sistema Marcenaria</h1>
    </div>
    <div class="cardgeral">
         <div class="card">
            <a href="https://localhost:7206/Cliente">
                 <p class="card-title">Cliente</p>
                  <p class="small-desc">
                    Cadastrar cliente
                  </p>
                  <div class="go-corner">
                    <div class="go-arrow">→</div>
              </div>
             </a>
              
           </div>
           <div class="card">
            <a href="https://localhost:7206/Categoria">
                 <p class="card-title">Categoria</p>
                  <p class="small-desc">
                    Cadastrar Categoria
                  </p>
                  <div class="go-corner">
                    <div class="go-arrow">→</div>
              </div>
             </a>
           </div>
            <div class="card">
                <a href="https://localhost:7206/Fornecedor">
                     <p class="card-title">Fornecedor</p>
                      <p class="small-desc">
                        Cadastrar Fornecedor
                      </p>
                      <div class="go-corner">
                        <div class="go-arrow">→</div>
                  </div>
                 </a>
           </div>
           <div class="card">
                <a href="https://localhost:7206/Pagamento">
                     <p class="card-title">Pagamento</p>
                      <p class="small-desc">
                        Cadastrar Pagamento
                      </p>
                      <div class="go-corner">
                        <div class="go-arrow">→</div>
                  </div>
                 </a>
           </div>
           <div class="card">
            <a href="https://localhost:7206/Produto">
                 <p class="card-title">Produto</p>
                  <p class="small-desc">
                    Cadastrar Produto
                  </p>
                  <div class="go-corner">
                    <div class="go-arrow">→</div>
              </div>
             </a>
           </div>
    </div>
    <div class="divbtn">
        <a href="https://localhost:7206/Venda">
            <button class="button">VENDA</button>
        </a>
        <a href="https://localhost:7206/VendaHasProduto">
            <button class="button">VENDA HAS</button>
        </a>
        <a href="https://localhost:7206/Vendedor">
            <button class="button">VENDEDOR</button>
        </a>
    </div>
</div>
